asgiref==3.11.0
brotli==1.2.0
cffi==2.0.0
cssselect2==0.8.0
Django==6.0
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
djangorestframework==3.16.1
drf-yasg==1.21.11
et_xmlfile==2.0.0
fonttools==4.61.1
gunicorn==23.0.0
inflection==0.5.1
openpyxl==3.1.5
packaging==25.0
pillow==12.0.0
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
uritemplate==4.2.0
weasyprint==67.0
webencodings==0.5.1
zopfli==0.4.0
